.act {
    background-color: #8cf7b9;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.inact {
    background-color: #f0b4b2;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
