@tailwind base;
@tailwind components;
@tailwind utilities;




body {
    height: 100%;
    width: 100%;
    position: absolute;
}


.slider {
    background-color: #084c61;
    height: 100vh;
    width: 15rem;
    position: fixed;
    padding-top: 1rem;
}


.image {
    border-radius: 50%;
    border: 5px solid white;
    height: 6rem;
    width: 6rem;
    cursor: pointer;

}


.maintext {
    font-size: 1rem;
    font-weight: 700;
    color: white;
    padding-right: 50px;
}

a {
    text-decoration: none;
    color: black !important;
}

.childs:hover>a {
    color: white;
}


.profile {
    display: flex;
    /* border: 2px solid black; */
    padding-left: 1rem;
    align-items: center;
    width: 10rem;
}




.search,
.notifications,
.dashboard,
.messages,
.heart,
.logout,
.coins {
    height: 30px;
    margin: 1rem;
    border-radius: 0.4rem;
    width: 13rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    font-size: 1.1rem;
}

.childs:hover {
    background-color: #db3a34;
    color: white;
}

.text {
    margin-left: 1.8rem;
    color: white;
}

.search {
    background-color: rgb(244, 237, 250);
    transition: 0.3s ease;
}

.searchbtn {
    background-color: transparent;
    height: 3rem;
    width: 14rem;
    border: none;
    font-size: 1rem;
    outline: none;
    margin-left: 0.8rem;
}

::-webkit-search-cancel-button {
    display: none;
}

.lgbutton {
    margin-left: 1.8rem;
    border: none;
    background: transparent;
    color: aliceblue;

}

.card-head {
    font-size: 35px;
    font-weight: bold;
}


.content-header {
    margin-left: 18rem;
    margin-top: 5rem;
}


.content {
    margin-left: 20rem;
    margin-right: 5rem;
}

.row {
    margin-bottom: 8px;
}

.u_name {
    font-size: 20px;
    font-weight: bold;
}


.sech {
    font-size: 30px;
    font-weight: bold;
    color: #084c61
}


.u_info {

    font-size: 30px;
    font-weight: bold;
}


.close_bot {
    font-size: 20px;
    font-weight: lighter;
    float: right;

}



.title_user{
  
    font-size: 30px;
    font-weight: bold;
    color: #323031;
}