.edit-button{
    color: #ffffff; 
    background-color: #09aeae; 
    border-color:  #09aeae;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-bottom: 3px;
}
.edit-button:hover {
    background-color: #048585; /* dark red background color */
    border-color: #048585; /* dark red border color */
  }

  .accept-button{
    color: #ffffff; 
    background-color: #09aeae; 
    border-color:  #09aeae;
    padding-left: .8rem;
    padding-right: .8rem;
    margin-bottom: 3px;
}
.accept-button:hover {
    background-color: #048585; /* dark red background color */
    border-color: #048585; /* dark red border color */
  }

.nav-link{
    background-color: #09aeae;  
}

.update-button{
  color: #ffffff; 
  background-color: #09aeae; 
  border-color:  #09aeae;
  padding-left: 9px;
  padding-right: 9px;
  margin-bottom: 3px;
}
.update-button:hover {
  background-color: #048585; /* dark red background color */
  border-color: #048585; /* dark red border color */
}

.submit-button{
  color: #ffffff; 
  background-color: #F21313;
  border-color:   #F21313;
  padding-left: .8rem;
  padding-right: .8rem;
  margin-bottom: 3px;
}
.submit-button:hover {
  color: #ffffff; 
  background-color: #d11010; /* dark red background color */
  border-color:  #d11010;/* dark red border color */
}

.close.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 35px;
  color: #000;
  opacity: 0.5;
}

.close.close-icon:hover {
  opacity: 1;
  text-decoration: none;
}