.edit-button{
    color: #ffffff; 
    background-color: #09aeae; 
    border-color:  #09aeae;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-bottom: 3px;
}
.edit-button:hover {
    background-color: #048585; /* dark red background color */
    border-color: #048585; /* dark red border color */
  }

.nav-link{
    background-color: #09aeae;  
}